body {
  background-image: url(https://cdn.eluniversaldf.mx/cdn-cgi/imagedelivery/Tc_e-zY9CCdgr8U0NW-W9A/www.eluniversaldf.mx/2023/08/aldea-de-la-hoja.webp/w=1792);  
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 40px;
}

.calculadora {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 300px;
  margin-top: 70px;
}

.calculo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); /* ajusta por el navbar */
}

.pantalla {
  background-color: #222;
  color: #fff;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #d4d4d4;
}